<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  {# Главное меню #}
    {% block mainmenu %}

        <ul>
            {% for chapter in menu %}
                <li>
                    <a href="{{chapter}}">{{chapter}}</a>
                </li>
            {% endfor %}
        </ul>

    {% endblock mainmenu %}
  {# Конец главное меню #}

  {# Блок контента #}
    <div class="content-text">
        {% block content %}
        {% endblock %}
    </div>
  {# Конец блока контента #}

</body>
</html>