<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>polls Главная страница</title>
</head>
<body>


    <h3>{{ var_title }}</h3>

    {% if all_questions %}
        <ul>
            {% for question in all_questions %}
                <li>
                    <a href="/polls/{{ question.id }}">
                        {{ question.question_text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Вопросов нету</p>
    {% endif %}





</body>
</html>